@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
	box-sizing: border-box

html, body
	width: 100%

body,
main
	overflow-x: hidden

body
	display: flex
	flex-direction: column
	font-family: var(--main-font)
	font-size: gem(16)
	line-height: gem(20)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility

a
	text-decoration: none
	outline: none

img
	max-width: 100%
	height: auto

section
	position: relative
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	// visibility: hidden
.container
	position: relative
	width: var(--container-width)
	min-width: var(--container-width)
	margin: 0 auto

input , textarea
	&::-webkit-input-placeholder,
	&::placeholder
		transition: all .3s
	&:focus
		&::-webkit-input-placeholder,
		&::placeholder
			color: transparent

button
	cursor: pointer

//start here

.about
	margin-bottom: gem(170)
	.yellow_spot
		display: flex
		position: absolute
		top: 0
		left: 0
	&-main
		display: flex
		&-left
			display: flex
			flex-direction: column
			position: relative
			margin-left: gem(5)
			h1
				margin: gem(179) 0 gem(32)
				margin-top: gem(179)
				span
					display: block
					color: var(--color-purple)
					font-family: var(--accent-font)
					font-weight: 700
			p
				width: gem(398)
				margin-bottom: gem(20)
		&-right
			display: flex
			flex-direction: column
			position: absolute
			right: gem(-260)
			img
				width: gem(709)
				&:nth-of-type(2)
					width: gem(200)
					position: absolute
					top: gem(291)
					right: gem(265)
	&-left_title
		display: flex
		position: absolute
		top: gem(320)
		left: gem(-52)
		h2
			position: absolute
			transform: rotate(-90deg)
			color: #E9E7FD
			font-family: var(--title-font)
			span
				display: block
.business
	.bgc_star
		width: gem(119)
		display: flex
		position: absolute
		left: gem(274)
		top: gem(-88)
	&-main
		display: flex
		position: relative
		justify-content: center
		&-left
			display: flex
			flex-direction: column
			position: relative
			margin-right: gem(30)
			margin-left: gem(50)
			h3
				width: gem(370)
				font-size: gem(20)
				color: var(--color-purple)
				margin-bottom: gem(32)
			&-proc
				display: flex
				flex-direction: column
				margin-bottom: gem(14)
				&-item
					display: flex
					margin-bottom: gem(10)
					img
						width: gem(16)
						height: gem(16)
						margin-right: gem(4)
					p
						line-height: gem(16) !important
						font-weight: 700 !important
			p
				font-size: gem(12)
				line-height: gem(20)
				width: gem(350)
		&-right
			display: flex
			position: relative
			h2
				width: gem(214)
				span
					display: block
					color: var(--color-purple)
					font-family: var(--accent-font)
					font-weight: 700
	&-left_title
		display: flex
		position: absolute
		top: gem(110)
		left: gem(-74)
		h2
			position: absolute
			transform: rotate(-90deg)
			color: #E9E7FD
			font-family: var(--title-font)
			span
				display: block

.team
	.bgc_team
		display: flex
		position: absolute
		width: gem(1433)
	&-main
		display: flex
		margin-top: gem(200)
		&-left
			display: flex
			flex-direction: column
			position: relative
			margin: 0 gem(119) 0 gem(95)
			// margin-left: gem(5)
			h2
				margin-bottom: gem(32)
				width: gem(356)
				span
					display: block
					color: var(--color-purple)
					font-family: var(--accent-font)
					font-weight: 700
			p
				width: gem(350)
				margin-bottom: gem(15)
		&-right
			display: flex
			flex-direction: row
			flex-wrap: wrap
			width: gem(500)
			position: absolute
			right: gem(-140)
			&-item
				display: flex
				flex-direction: column
				align-items: center
				margin: 0 gem(55) gem(55) 0
				img
					width: gem(80)
					margin-bottom: gem(8)
				p
					color: var(--color-black)
					font-family: var(--sub-font)
					font-size: gem(12)
					line-height: gem(16)
					font-weight: 700
					margin-bottom: gem(7)
	&-left_title
		display: flex
		position: absolute
		top: gem(320)
		left: gem(-22)
		h2
			position: absolute
			transform: rotate(-90deg)
			color: #C3CBFA
			font-family: var(--title-font)

.why_us
	&-bgc
		width: gem(1440)
		position: absolute
		top: gem(-300)
		z-index: -1
	&-stars
		width: gem(184)
		position: absolute
		top: gem(150)
		left: gem(166)
	h2
		text-align: right
		margin: gem(250) gem(50) gem(50) 0
		span
			display: block
			color: var(--color-purple)
			font-family: var(--accent-font)
			font-weight: 700
	&-main
		display: flex
		position: relative
		width: gem(920)
		height: gem(600)
		padding: gem(75) gem(95) gem(170) gem(95)
		background: linear-gradient(180deg, #FFFFFF 91.76%, rgba(255, 255, 255) 95.41%)
		border: gem(2) solid #DDD1F3
		border-radius: gem(40) gem(40) 0 0
		flex-wrap: wrap
		&-argument
			display: flex
			flex-direction: column
			margin-right: gem(21)
			&-title
				display: flex
				margin-bottom: gem(4)
				.rect
					display: flex
					width: gem(8)
					height: gem(39)
					background: #DDD1F3
					margin-right: gem(12)
					margin-top: gem(5)
				h3
					font-weight: 600
					width: gem(188)
					text-transform: uppercase
			&:nth-of-type(4)
				.why_us-main-argument-title
					h3
						width: gem(140)
			&:nth-of-type(5)
				.why_us-main-argument-title
					h3
						width: gem(201)

			p
				width: gem(221)
				font-size: gem(12)
				line-height: gem(20)
	&-left_title
		display: flex
		position: absolute
		top: gem(530)
		left: gem(-74)
		h2
			position: absolute
			transform: rotate(-90deg)
			color: #E9E7FD
			font-family: var(--title-font)
			margin: 0
			text-align: unset
			width: gem(304)
.olympus
	&-bgc
		display: flex
		position: absolute
		top: gem(-230)
		width: gem(1440)
		z-index: 2
	&-main
		display: flex
		position: relative
		z-index: 3
		justify-content: center
		flex-direction: column
		h2
			text-align: center
			margin-bottom: gem(100)
			span
				display: block
				color: var(--color-purple)
				font-family: var(--accent-font)
				font-weight: 700
		&-tabs
			display: flex
			width: gem(920)
			height: gem(570)
			border: 1px solid #9AA9F7
			border-bottom: transparent
			// border-radius: gem(6) gem(6) 0 0
			background: rgba(255, 255, 255, 0.6)
			margin: 0 auto
			position: relative
			&-articles
				display: flex !important
				padding: gem(40) gem(28)
				&-card
					display: flex
					position: relative
					flex-direction: column
					width: gem(280)
					border: 1px solid #C3CBFA
					border-radius: gem(12)
					padding: gem(8)
					background: #fff
					margin-right: gem(12)
					&-img_main
						width: gem(264)
						margin-bottom: gem(8)
					h3
						font-size: gem(14)
						line-height: gem(18)
						font-family: var(--sub-font)
						color: #2A2E4B
						font-weight: 700
						margin-bottom: gem(4)
					p
						font-size: gem(12) !important
						line-height: gem(20) !important
						color: #6C7193
					.data
						display: flex
						align-items: center
						&-icon
							width: gem(30)
							height: gem(30)
							border: 1px solid #E9E7FD
							border-radius: gem(100)
							margin-right: gem(4)
							img
								width: gem(30)
						&-name
							display: flex
							flex-direction: column
							p
								color: #2A2E4B
								&:nth-of-type(2)
									font-size: gem(10) !important
									line-height: gem(13) !important
									color: #6C7193
					span
						display: flex
						position: absolute
						bottom: gem(8)
						right: gem(8)
						color: #92A2F6
						font-size: gem(10)
						line-height: gem(13)
			&-podcasts
				display: flex !important
				justify-content: center
				padding-top: gem(80)
				position: relative
				&-chanel
					display: flex
					flex-direction: column
					align-items: center
					justify-content: space-between
					margin: 0 gem(70)
					h3
						font-weight: 900
						margin-bottom: gem(8)
					&-logo
						width: gem(91)
						height: gem(91)
					p
						font-size: gem(12)
						line-height: gem(20)
						font-family: var(--main-font)
						text-align: center
						width: gem(200)
						margin-bottom: gem(8)
					a
						display: flex
						justify-content: center
						align-items: center
						border-radius: gem(6)
						width: gem(122)
						height: gem(40)
						border: 1px solid #C3CBFA
						background: #FBFDFF


.slick-dots
	display: flex
	position: absolute
	top: gem(-45)
	left: gem(-1)
	li
		display: flex
		width: gem(230)
		height: gem(45)
		position: relative
		button
			width: gem(230)
			height: gem(45)
			font-size: 0px
			background: transparent
			border-radius: gem(6) gem(6) 0 0
			border: none
			// border-bottom: #d31818
			&::before
				color: #92A2F6
				content: 'Articles'
				opacity: 1
				font-size: gem(14)
				line-height: gem(14)
				font-family: var(--sub-font)
				font-weight: 600
		&:nth-of-type(2)
			button
				&::before
					content: 'Podcasts'
					// width: gem(79)
					// left: gem(20)
		&:nth-of-type(3)
			button
				&::before
					content: 'Twitter Threads'
					// width: gem(53)
		&:nth-of-type(4)
			button
				&::before
					content: 'Videos'
					// width: gem(77)
					// left: gem(20)


.slick-active
	button
		border: 1px solid #92A2F6 !important
		border-bottom: transparent !important
		background: #f8faff !important

